.Login {
    margin-left: 315px;
    width: 106px;
    height: 22px;
    color: #1C32DC;
    border-width: thin;
    border-color: #1D7A0F;
    background-color: #D7C909;
    border-radius: 12px 9px 5px 7px;
}
#password {
    border-width: thick;
    -webkit-box-shadow: 0px 0px #C84042;
    box-shadow: 0px 0px #C84042;
}
body p label {
}
